.dashboard {
  display: flex;
}

.dashboard-container {
  flex: 10;
  position: relative;
}

.barChart {
  margin: 30px 30px;
}

@media screen and (max-width: 1530px) {
}

@media screen and (max-width: 1000px) {
  .widget-container {
    flex-direction: column;
    width: 70%;
    margin: 0 5%;
  }
}
