.dashboard {
  display: flex;
}

.dashboard-container {
  flex: 1;
}

.dashboard-box {
  display: flex;
  flex-direction: column;
}

.dashboard-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .widget-container {
    flex-direction: column;
    width: 70%;
    margin: 0 5%;
  }
}
